.timer {
  display: flex;
  gap: 20px;
  margin-top: 10px;
}

.value,
.label {
  display: flex;
  justify-content: center;
}

.value {
  font-size: 30px;
  font-weight: 500;
  color: rgb(20, 20, 112);
}

.label {
  font-weight: 500;
}

button[data-start] {
  height: 22px;
  background-color: rgb(186, 186, 250);
  border: 1px solid;
  border-color: rgb(106, 106, 183);
  border-radius: 2px;

  color: rgb(15, 15, 15);

  transition-property: background-color, border-color, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

button[data-start]:disabled {
  background-color: rgb(201, 201, 213);
  border-color: transparent;
  color: rgb(118, 118, 118);
}

button[data-start]:enabled:hover,
button[data-start]:enabled:focus {
  background-color: rgb(69, 69, 148);
  border-color: transparent;

  color: rgb(255, 255, 255);
}
