.form {
  display: flex;
  align-items: end;
  gap: 10px;
}

label {
  font-weight: 500;
}

.form-input {
  display: block;
  padding-left: 5px;
  height: 30px;
  width: 200px;

  font-size: 16px;
  font-weight: 500;
  color: rgb(47, 47, 47);

  background-color: rgb(238, 238, 252);
  border: 1px solid;
  border-color: rgb(106, 106, 183);
  border-radius: 2px;
}

button[type='submit'] {
  height: 30px;
  width: 150px;

  font-size: 16px;
  font-weight: 700;
  color: rgb(47, 47, 47);

  background-color: rgb(186, 186, 250);
  border: 1px solid;
  border-color: rgb(106, 106, 183);
  border-radius: 2px;

  transition-property: background-color, border-color, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

button[type='submit']:hover,
button[type='submit']:focus {
  background-color: rgb(69, 69, 148);
  border-color: transparent;

  color: rgb(255, 255, 255);
}
